<!DOCTYPE html>
<html lang="zh-CH">
<head>
	<meta charset="UTF-8">
	<title>站点浏览</title>
	<link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/static/css/website-main.css">
</head>
<body>
	{# LIST OF WEBSITES #}
	<ul class=" col-lg-8 col-md-10 col-sm-10 col-xs-12 col-lg-offset-2 col-md-offset-1 col-sm-offset-1 weblist">
		{% for webaddress, webitem in weblist %}
			<li class="col-lg-6 col-md-6 col-sm-6 col-xs-12 webitem" data-tag="{{ webaddress }}">
				<div class="itembox">
					<div class="imgbox" style="background-image: url({{ webitem['icon'] }})"></div>
					<div class="titlebox">
						<h3 title="{{ webitem['title'] }}">{{ webitem['title'] }}</h3>
						<h5>{{ webaddress }}</h5>
					</div>
					<div class="inner-line"></div>
					<p title="{{ webitem['view'] }}">{{ webitem['view'] }}</p>
				</div>
			</li>
		{% endfor %}
	</ul>
	{# END LIST #}
</body>

<!-- SCRIPT -->
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/canvas-nest.js"></script>
<!-- END SERIPT -->

</html>